DB_HOST=seu_host_mysql
DB_PORT=3306
DB_USER=seu_usuario
DB_PASSWORD=sua_senha
DB_NAME=seu_banco
PORT=3000
HOST=0.0.0.0
NF_DESTINATION_EMAIL=paulo.mendonca@redefrete.com.br
GRAPH_TENANT_ID=
GRAPH_CLIENT_ID=
GRAPH_CLIENT_SECRET=
GRAPH_FROM=
TEMP_OPEN_COMPETENCIAS=2026-01,2026-02,2026-03
